html {
  padding: 0;
  margin: 0;
  background: #363636;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
header {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 50vh;
  background: #2D785A;
  background-image: url('../images/BackgroundGreenWeb1920@2x.png');
  background-repeat: repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  text-justify: center;
}
article {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  background: #FFFFFF;
  background-repeat: repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
h1 {
  padding: 0;
  margin: 0;
  width: 80%;
  height: auto;
  color: white;
  font-family: Oswald;
  text-align: left;
  text-shadow: 2px 2px 4px black;
  font-size: 100px;
}
h2 {
  padding: 0;
  margin: 0;
  width: 80%;
  height: auto;
  color: black;
  font-family: Oswald;
  text-align: left;
  text-shadow: .4px .4px .9px black;
  font-size: 100px;
  line-height: 50px;
}
p {
  padding: 0;
  margin: 0;
  width: 800px;
  height: auto;
  font-family: Lato;
  text-shadow: .4px .4px .9px black;
  font-size: 40px;
}
a {
  text-decoration: underline #2D785A;
  color: #FFFFFF;
  background: #363636;
}
footer {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #B21223;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
img {
  padding: 0;
  margin: 0;
  width: 300px;
}
img.meme {
    padding: 0;
    margin: 0;
    width: 600px;
    height: 100%;  
}
aside {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}
/*Estilos Del Menú*/
nav.menu {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background: #363636;  
  }
  div.menu-container  {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background: #363636;   
  }
  div.menu-container a {
    padding: 0;
    margin: 0;
    width: 25%;
    height: 30px;
    line-height: 100%;
    font-family: Oswald;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center; 
    font-size: 10px;
    background: #363636; 
  }
div.video-container {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background: #363636; 
}
blockquote.twitter-tweet {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 0;
  padding: 0;
  max-width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}
/* ^ Fin De Estilos Del Menú ^ */
@media (min-width:272px) and (max-width:299px) {
  body {
    width: 100%;
    height: auto;
  }
  header {
    width: 100%;
    height: 100vh;
  }
  h1 {
    font-size: 30px;
    width: 250px;
  }
  h2 {
    font-size: 25px;
    width: 250px;
  }  
  article {
    width: 100%;
    height: 100%;
  }
  p {
    font-size: 15px;
    width: 250px;
    height: auto;
  }
  footer {
    width: 100%;
    height: 100%;
  }
  img {
    width: 50%;
    height: auto;  
  }
  img.meme {
    padding: 0;
    margin: 0;
    width: 200px;
    height: 200px;  
  }
  aside {
    width: 100%;
    height: auto;
  }
}
@media (min-width:300px) and (max-width:399px) {
  body {
    width: 100%;
    height: auto;
  }
  header {
    width: 100%;
    height: 50vh;
  }
  h1 {
    font-size: 35px;
    width: 90%;
  }
  h2 {
    font-size: 30px;
    width: 90%;
    line-height: 30px;
  }
  img {
    width: 50%;
    height: auto;  
  }
  img.meme {
    padding: 0;
    margin: 0;
    width: 290px;
    height: 290px;  
  }  
  article {
    width: 100%;
    height: 100%;
  }
  p {
    font-size: 20px;
    width: 90%;
  }
  footer {
    width: 100%;
    height: 100%;
  }
  aside {
    width: 100%;
    height: auto;
  }  
}
@media (min-width:312px) {
  body {
    width: 100%;
    height: auto;
  }
  header {
    width: 100%;
    height: 50vh;
  }
  h1 {
    font-size: 30px;
    width: 90%;
  }
  h2 {
    font-size: 25px;
    width: 90%;
    line-height: 30px;
  }
  img {
    width: 50%;
    height: auto;  
  }
  img.meme {
    padding: 0;
    margin: 0;
    width: 312px;
    height: 312px;  
  }  
  article {
    width: 100%;
    height: 100%;
  }
  p {
    font-size: 16px;
    width: 90%;
  }
  footer {
    width: 100%;
    height: 100%;
  }
  aside {
    width: 100%;
    height: auto;
  }  
}
@media (min-width:320px) {
  body {
    width: 100%;
    height: auto;
  }
  header {
    width: 100%;
    height: 50vh;
  }
  h1 {
    font-size: 35px;
    width: 90%;
  }
  h2 {
    font-size: 30px;
    width: 90%;
    line-height: 30px;
  }
  img {
    width: 50%;
    height: auto;  
  }  
  img.meme {
    padding: 0;
    margin: 0;
    width: 312px;
    height: 312px;  
  } 
  article {
    width: 100%;
    height: 100%;
  }
  p {
    font-size: 16px;
    width: 90%;
  }
  footer {
    width: 100%;
    height: 100%;
  }
  aside {
    width: 100%;
    height: auto;
  }   
}
@media (min-width:400px) and (max-width:499px) {
  body {
    width: 100%;
    height: auto;
  }
  header {
    width: 100%;
    height: 50vh;
  }
  h1 {
    font-size: 40px;
    width: 90%;
  }
  h2 {
    font-size: 35px;
    width: 90%;
    line-height: 30px;
  }
  img {
    width: 50%;
    height: auto;  
  }
  img.meme {
    padding: 0;
    margin: 0;
    width: 390px;
    height: 390px;  
  }   
  article {
    width: 100%;
    height: 100%;
  }
  p {
    font-size: 20px;
    width: 90%;
  }
  footer {
    width: 100%;
    height: 100%;
  }
  aside {
    width: 100%;
    height: auto;
  } 
}
@media (min-width:500px) and (max-width:599px) {
  body {
    width: 100%;
    height: auto;
  }
  header {
    width: 100%;
    height: 50vh;
  }
  h1 {
    font-size: 45px;
    width: 90%;
  }
  h2 {
    font-size: 40px;
    width: 90%;
    line-height: 40px;
  }
  img {
    width: 300px;
    height: auto;  
  } 
  img.meme {
    padding: 0;
    margin: 0;
    width: 490px;
    height: 490px;  
  } 
  article {
    width: 100%;
    height: 100%;
  }
  p {
    font-size: 25px;
    width: 90%;
  }
  footer {
    width: 100%;
    height: 100%;
  }
  aside {
    width: 100%;
    height: auto;
  }  
}
@media (min-width:568px) {
    body {
      width: 100%;
      height: auto;
    }
    header {
      width: 100%;
      height: 50vh;
    }
    h1 {
      font-size: 35px;
      width: 90%;
    }
    h2 {
      font-size: 30px;
      width: 90%;
      line-height: 40px;
    }
    img {
      width: 300px;
      height: auto;  
    }
    img.meme {
        padding: 0;
        margin: 0;
        width: 500px;
        height: 500px;  
    }   
    article {
      width: 100%;
      height: 100%;
    }
    p {
      font-size: 25px;
      width: 90%;
    }
    footer {
      width: 100%;
      height: 100%;
    }
    aside {
      width: 100%;
      height: auto;
    }  
  }
@media (min-width:600px) and (max-width:699px) {
  body {
    width: 100%;
    height: auto;
  }
  header {
    width: 100%;
    height: 50vh;
  }
  h1 {
    font-size: 50px;
    width: 90%;
  }
  h2 {
    font-size: 45px;
    width: 90%;
    line-height: 40px;
  }
  img {
    width: 300px;
    height: auto;  
  }
  img.meme {
    padding: 0;
    margin: 0;
    width: 590px;
    height: 590px;  
  }   
  article {
    width: 100%;
    height: 100%;
  }
  p {
    font-size: 30px;
    width: 90%;
  }
  footer {
    width: 100%;
    height: 100%;
  }
  aside {
    width: 100%;
    height: auto;
  }    
}
@media (min-width:667px) {
    body {
      width: 100%;
      height: auto;
    }
    header {
      width: 100%;
      height: 50vh;
    }
    h1 {
      font-size: 40px;
      width: 90%;
    }
    h2 {
      font-size: 35px;
      width: 90%;
      line-height: 40px;
    }
    img {
      width: 300px;
      height: auto;  
    }
    img.meme {
        padding: 0;
        margin: 0;
        width: 600px;
        height: 600px;  
    }    
    article {
      width: 100%;
      height: 100%;
    }
    p {
      font-size: 30px;
      width: 90%;
    }
    footer {
      width: 100%;
      height: 100%;
    }
    aside {
      width: 100%;
      height: auto;
    }    
  }
@media (min-width:700px) and (max-width:799px) {
  body {
    width: 100%;
    height: auto;
  }
  header {
    width: 100%;
    height: 50vh;
  }
  h1 {
    font-size: 60px;
    width: 90%;
  }
  h2 {
    font-size: 55px;
    width: 90%;
    line-height: 50px;
  }
  img {
    width: 300px;
    height: auto;  
  }
  img.meme {
    padding: 0;
    margin: 0;
    width: 600px;
    height: 600px;  
  }  
  article {
    width: 100%;
    height: 100%;
  }
  p {
    font-size: 40px;
    width: 90%;
  }
  footer {
    width: 100%;
    height: 100%;
  }
  aside {
    width: 100%;
    height: auto;
  }   
}
@media (min-width:800px) and (max-width:1024px) {
  body {
    width: 100%;
    height: auto;
  }
  header {
    width: 100%;
    height: 50vh;
  }
  h1 {
    width: 80%;
    font-size: 65px;
    width: 80%;
  }
  h2 {
    font-size: 60px;
    width: 80%;
    line-height: 55px;
  }
  img {
    width: 300px;
    height: auto;  
  }
  img.meme {
    padding: 0;
    margin: 0;
    width: 600px;
    height: 600px;  
  }  
  article {
    width: 100%;
    height: 100%;
  }
  p {
    font-size: 40px;
    width: 80%;
  }
  footer {
    width: 100%;
    height: 100%;
  }
  aside {
    width: 100%;
    height: auto;
  }    
}
@media (min-width:1025px) and (max-width:1920px) {
  body {
    width: 100%;
    height: auto;
  }
  header {
    width: 100%;
    height: 50vh;
  }
  h1 {
    width: 800px;
    font-size: 65px;
    width: 80%;
  }
  h2 {
    font-size: 60px;
    width: 800px;
    line-height: 55px;
  }
  img {
    width: 300px;
    height: auto;  
  }
  img.meme {
    padding: 0;
    margin: 0;
    width: 600px;
    height: 600px;  
  }  
  article {
    width: 100%;
    height: 100%;
  }
  p {
    font-size: 40px;
    width: 800px;
  }
  footer {
    width: 100%;
    height: 100%;
  }
  aside {
    width: 100%;
    height: auto;
  } 
}
